<script>
const hasTimestamp = (str) => /\([\d]{1,2}:[\d]{1,2}\s[A|P]M\)$/.test(str);

export default {
  data() {
    return {
      leaderboard: [],
    };
  },
  computed: {
    showResults() {
      return this.leaderboard.length > 0;
    },
  },
  methods: {
    onInput({ target }) {
      const text = target.value;
      const lines = text.split("\n");
      const votes = lines.reduce((acc, line) => {
        if (!line.startsWith("-") && line !== "" && !hasTimestamp(line)) {
          acc.push(line);
        }
        return acc;
      }, []);
      this.updateLeaderboard(votes);
    },
    updateLeaderboard(votes) {
      const peopleVotes = {};
      votes.forEach((name) => {
        const key = name.toUpperCase();
        if (peopleVotes[key]) {
          peopleVotes[key].votes++;
        } else {
          peopleVotes[key] = {
            votes: 1,
            name,
          };
        }
      });
      this.leaderboard = Object.values(peopleVotes).sort(
        (a, b) => b.votes - a.votes
      );
    },
    getWinner(leaderboard) {
      if (leaderboard.length > 1 && leaderboard[0].votes === 1) {
        return "There is no clear winner";
      }
      return `And the winner is... <strong>${leaderboard[0].name}</strong>! 🎉🎉🎉`;
    },
  },
};
</script>

<template>
  <div class="content d-flex">
    <h1 class="text-center m-0">Vote counter</h1>
    <p class="text-center m-0 mb-1">
      Counts the votes people cast in zoom chat
    </p>
    <textarea
      @input="onInput"
      rows="10"
      placeholder="Paste your chat log here"
    ></textarea>
    <div class="results" v-if="showResults">
      <h3>Results</h3>
      <table class="table">
        <tr v-for="entry in leaderboard" :key="entry.name">
          <td class="w-70">{{ entry.name }}</td>
          <td class="w-30">{{ entry.votes }}</td>
        </tr>
      </table>
      <p v-html="getWinner(leaderboard)" />
    </div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.m-0 {
  margin: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.d-flex {
  display: flex;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.p-d2 {
  padding: 0.2rem;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table td {
  border: 1px solid #777;
  padding: 0.2rem;
}
.content {
  width: 100%;
  max-width: 500px;
}
</style>
